.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f4f6f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .booking-title{
    font-size: 34px;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  .booking-container h3,
  .booking-container h4 {
    text-align: center;
    color: #333;
  }
  
  .booking-container h4 {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .booking-container .d-flex {
    width: 100%;
    max-width: 500px;
  }
  
  .booking-container .ant-picker {
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .booking-container .btn-primary,
  .booking-container .btn-dark {
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
    border-radius: 5px;
  }
  
  .booking-container .btn-primary:hover,
  .booking-container .btn-dark:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateY(-2px);
  }
  
  .booking-container .btn-primary:focus,
  .booking-container .btn-dark:focus {
    outline: none;
  }
  
  .booking-container .btn-dark {
    background-color: #343a40;
    color: #fff;
  }
  
  .booking-container .btn-dark:hover {
    background-color: #495057;
  }
  
  .booking-container .ant-picker:hover {
    border-color: #1890ff;
    box-shadow: 0 0 8px rgba(24, 144, 255, 0.2);
  }
  
  